.root[role="none"] {
  display: flex;
  position: relative;
}

[role="menubar"][aria-orientation="vertical"]
  .root[role="none"]
  + .root[role="none"] {
  border-width: var(--border-width) 0 0;
}

[role="menu"][aria-orientation="vertical"]
  .root[role="none"]
  + .root[role="none"] {
  border-width: 0;
}

.root[role="separator"] {
  background-clip: content-box;
  background-color: var(--border-color);
  box-sizing: content-box;
  height: 0.0625rem;
  padding: 0.25rem 0;
}

.button {
  align-items: center;
  display: flex;
  font-size: 0.875rem;
  font-weight: 500;
  gap: 0.5rem;
  line-height: 1.4;
  position: relative;
  user-select: none;
}

[role="menubar"][aria-orientation="horizontal"] .button {
  padding: 0 0.5rem;
}

[role="menubar"][aria-orientation="vertical"] .button {
  background-image: linear-gradient(
    to bottom,
    rgb(227, 227, 227),
    rgb(209, 209, 209)
  );
  padding: 0.25rem 0.5rem;
  width: 100%;
}

[role="menu"] .button {
  align-items: center;
  background-image: unset;
  display: flex;
  gap: 0.5rem;
  height: 1.5rem;
  padding: 0 1rem;
  position: relative;
  width: 100%;
}

.button:focus {
  outline: 0;
}

.button[aria-disabled="true"] {
  color: var(--text-color--disabled);
}

[role="menubar"] .button[aria-expanded="true"],
[role="menu"] .button[aria-expanded="true"],
[role="menu"] .button:not([aria-checked="true"], [aria-disabled="true"]):hover {
  background-image: linear-gradient(
    to bottom,
    rgb(146, 146, 146),
    rgb(163, 163, 163)
  );
}

.button[role="menuitemcheckbox"]::before,
.button[role="menuitemradio"]::before {
  content: "";
  font-size: 0.625rem;
  width: 0.75rem;
}

.button[aria-checked="true"]::before {
  content: "✔️";
}

[role="menu"] > .root > .button[aria-haspopup="menu"]::after {
  content: "▶";
  font-size: 0.5rem;
  margin-right: -0.5rem;
  padding-left: 0.5rem;
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.icon {
  flex: 0 0 1rem;
  height: 1rem;
  width: 1rem;
}
