:root.theme-mac-os-classic {
  .component-menuitem {
    display: flex;
    position: relative;

    &[role="separator"] {
      border-color: var(--color--lowlight) transparent var(--color--highlight);
      border-width: var(--border-width) 0;
      margin: 0.25rem 0;
    }

    > button {
      align-items: center;
      display: flex;
      font-size: 0.875rem;
      font-weight: 500;
      gap: 0.5rem;
      line-height: 1.4;
      position: relative;
      user-select: none;

      &[role="menuitemcheckbox"],
      &[role="menuitemradio"] {
        &::before {
          content: "";
          font-family: var(--font-family--default);
          font-size: 0.75rem;
          width: 0.5rem;
        }
      }

      &[aria-checked="true"] {
        &::before {
          content: "✔︎";
        }
      }

      &[aria-disabled="true"] {
        color: var(--text-color--disabled);
      }

      &[aria-expanded="true"] {
        background-color: rgb(51, 51, 148);
        color: rgb(255, 255, 255);
      }

      svg {
        flex: 0 0 1rem;
        height: 1rem;
        width: 1rem;
      }

      label {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    [aria-orientation="horizontal"] > & {
      > button {
        padding: 0 0.5rem;
      }
    }

    [aria-orientation="vertical"] > & {
      > button {
        padding: 0.25rem 0.5rem;
        width: 100%;
      }
    }

    [role="menu"] > & {
      > button {
        align-items: center;
        background-image: unset;
        display: flex;
        gap: 0.5rem;
        height: 1.5rem;
        padding: 0 1.5rem;
        position: relative;
        width: 100%;

        &:not([aria-checked="true"], [aria-disabled="true"]) {
          &:hover {
            background-color: rgb(51, 51, 148);
            color: rgb(255, 255, 255);
          }
        }

        &[aria-haspopup="menu"] {
          justify-content: space-between;

          &::after {
            content: "▶";
            font-size: 0.5rem;
            margin-right: -1rem;
            width: 0.5rem;
          }
        }
      }
    }
  }
}
