:root.theme-mac-os-classic {
  .component-menuitem {
    display: flex;
    position: relative;

    &[role="separator"] {
      border-color: var(--color--lowlight) transparent var(--color--highlight);
      border-width: var(--border-width) 0;
      margin: 0.125rem 0;
    }

    > button {
      align-items: center;
      display: flex;
      font-size: 0.875rem;
      font-weight: 500;
      gap: 0.5rem;
      position: relative;
      user-select: none;

      &[aria-checked="true"] {
        &::before {
          content: "¬";
          font-family: var(--font-family--monospace);
          font-size: 1.25rem;
          font-weight: 700;
          left: 0.25rem;
          position: absolute;
          transform: rotate(135deg);
        }
      }

      &[aria-disabled="true"] {
        color: var(--text-color--disabled);
      }

      &[aria-expanded="true"] {
        background-color: rgb(51, 51, 148);
        color: rgb(255, 255, 255);
      }

      svg {
        flex: 0 0 1rem;
        height: 1rem;
        width: 1rem;
      }

      label {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    [aria-orientation="horizontal"] > & {
      > button {
        padding: 0 0.5rem;
      }
    }

    [aria-orientation="vertical"] > & {
      > button {
        padding: 0.25rem 0.5rem;
        width: 100%;
      }
    }

    [role="menu"] > & {
      > button {
        gap: 0.25rem;
        height: 1.25rem;
        padding: 0 1.25rem;
        width: 100%;

        &:not([aria-checked="true"], [aria-disabled="true"]) {
          &:hover {
            background-color: rgb(51, 51, 148);
            color: rgb(255, 255, 255);
          }
        }

        &[aria-haspopup="menu"] {
          justify-content: space-between;

          &::after {
            content: "►";
            font-size: 0.875rem;
            position: absolute;
            right: 0.125rem;
            transform: scaleX(0.5);
          }
        }
      }
    }
  }
}
