.root {
  align-items: center;
  display: inline-flex;
  font-size: 0.875rem;
  font-weight: 500;
  gap: 0.5rem;
  line-height: 1.4;
  user-select: none;
}

[aria-orientation="horizontal"] > .root {
  padding: 0 0.5rem;
}

[aria-orientation="vertical"] > .root {
  background-image: linear-gradient(
    to bottom,
    rgb(227, 227, 227),
    rgb(209, 209, 209)
  );
  padding: 0.25rem 0.5rem;
}

[aria-orientation="vertical"] > .root + .root {
  border-width: var(--border-width) 0 0;
}

.root[aria-disabled="true"] {
  color: var(--text-color--disabled);
}

.root[aria-expanded="true"] {
  background-image: linear-gradient(
    to bottom,
    rgb(146, 146, 146),
    rgb(163, 163, 163)
  );
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.icon {
  flex: 0 0 1rem;
  height: 1rem;
  width: 1rem;
}
