:root:global(.theme-beos) {
  .separator {
    background-clip: content-box;
    background-color: var(--border-color);
    box-sizing: content-box;
    height: 0.0625rem;
    padding: 0.25rem 0;

    &:focus {
      outline: 0;
    }
  }

  .menuitem {
    display: flex;
    position: relative;

    &:where(.top.vertical) + & {
      border-width: var(--border-width) 0 0;
    }
  }

  .button {
    align-items: center;
    display: flex;
    font-size: 0.875rem;
    font-weight: 500;
    gap: 0.5rem;
    line-height: 1.4;
    position: relative;
    user-select: none;

    .menuitem:where(.horizontal) > & {
      padding: 0 0.5rem;
    }

    .menuitem:where(.vertical) > & {
      background-image: linear-gradient(
        to bottom,
        rgb(227, 227, 227),
        rgb(209, 209, 209)
      );
      padding: 0.25rem 0.5rem;
      width: 100%;
    }

    .menuitem:where(:not(.top)) > & {
      align-items: center;
      background-image: unset;
      display: flex;
      gap: 0.5rem;
      height: 1.5rem;
      padding: 0 1rem;
      position: relative;
      width: 100%;
    }

    &:focus {
      outline: 0;

      &:not(.pointer) {
        background-color: rgb(196, 196, 196);
        background-image: unset;
      }
    }

    &:where(.disabled) {
      color: var(--text-color--disabled);
    }

    &:is(.expanded),
    .menuitem:not(.top) > &:not(.checked, .disabled):hover {
      background-image: linear-gradient(
        to bottom,
        rgb(146, 146, 146),
        rgb(163, 163, 163)
      );
    }

    .menuitem:not(.top) > &:where(.haspopup) {
      justify-content: space-between;

      &::after {
        content: "▶";
        font-size: 0.5rem;
        margin-right: -0.5rem;
        padding-left: 0.5rem;
      }
    }
  }

  .checkbox::before,
  .radio::before {
    content: "";
    font-size: 0.625rem;
    width: 0.75rem;
  }

  .checked::before {
    content: "✔️";
  }

  .title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .icon {
    flex: 0 0 1rem;
    height: 1rem;
    width: 1rem;
  }
}

:root:global(.theme-mac-os-classic) {
  .separator {
    background-clip: content-box;
    background-color: var(--border-color);
    box-sizing: content-box;
    height: 0.0625rem;
    padding: 0.25rem 0;

    &:focus {
      outline: 0;
    }
  }

  .menuitem {
    display: flex;
    position: relative;

    &:where(.top.vertical) + & {
      border-width: var(--border-width) 0 0;
    }
  }

  .button {
    align-items: center;
    display: flex;
    font-size: 0.875rem;
    font-weight: 500;
    gap: 0.5rem;
    line-height: 1.4;
    position: relative;
    user-select: none;

    .menuitem:where(.horizontal) > & {
      padding: 0 0.5rem;
    }

    .menuitem:where(.vertical) > & {
      padding: 0.25rem 0.5rem;
      width: 100%;
    }

    .menuitem:where(:not(.top)) > & {
      align-items: center;
      background-image: unset;
      display: flex;
      gap: 0.5rem;
      height: 1.5rem;
      padding: 0 1rem;
      position: relative;
      width: 100%;
    }

    &:focus {
      outline: 0;

      &:not(.pointer) {
        background-color: rgb(196, 196, 196);
        background-image: unset;
      }
    }

    &:where(.disabled) {
      color: var(--text-color--disabled);
    }

    &:is(.expanded),
    .menuitem:not(.top) > &:not(.checked, .disabled):hover {
      background-color: rgb(51, 51, 148);
      color: rgb(255, 255, 255);
    }

    .menuitem:not(.top) > &:where(.haspopup) {
      justify-content: space-between;

      &::after {
        content: "▶";
        font-size: 0.5rem;
        margin-right: -0.5rem;
        padding-left: 0.5rem;
      }
    }
  }

  .checkbox::before,
  .radio::before {
    content: "";
    font-size: 0.625rem;
    width: 0.75rem;
  }

  .checked::before {
    content: "✔️";
  }

  .title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .icon {
    flex: 0 0 1rem;
    height: 1rem;
    width: 1rem;
  }
}
