.root {
  display: flex;
  flex-direction: column;
  position: relative;

  &:focus {
    outline: 0;
  }
}

.separator {
  border-color: var(--color--lowlight) transparent var(--color--highlight);
  border-width: var(--border-width) 0;
  margin: 0.25rem 0.125rem;
}

.button {
  align-items: center;
  display: flex;
  font-size: 0.875rem;
  font-weight: 500;
  gap: 0.5rem;
  line-height: 1.4;
  position: relative;
  user-select: none;

  &[role="menuitemradio"]::before {
    content: "";
    font-family: var(--font-family--default);
    font-size: 0.625rem;
    width: 0.5rem;
  }

  &[aria-checked="true"]::before {
    content: "✔︎";
  }

  .root:where(.horizontal) > & {
    height: 100%;
    padding: 0 0.5rem;
  }

  .root:where(.vertical) > & {
    padding: 0.25rem 0.5rem;
    width: 100%;
  }

  .root:where(.top.vertical) > & {
    box-shadow: var(--box-shadow--high);

    &:is([aria-expanded="true"]) {
      box-shadow: inset 0 var(--border-width) var(--border-color--dark);
    }
  }

  &:where([aria-disabled="true"]) {
    color: var(--text-color--disabled);
  }

  &:is([aria-expanded="true"]),
  .root:where(:not(.top))
    > &:where(:not([aria-checked="true"], [aria-disabled="true"])):hover {
    background-color: rgb(160, 160, 160);
  }

  .root:where(:not(.top)) > &:where(.hasPopup) {
    padding-right: 2rem;
  }

  .root:where(:not(.top)) > &:where([aria-haspopup="menu"]) {
    &::after {
      color: rgb(240, 240, 240);
      content: "▶︎";
      font-size: 0.75rem;
      position: absolute;
      right: 0.5rem;
      text-shadow: var(--border-color--dark) 0 0 var(--border-width),
        var(--border-color--dark) var(--border-width) var(--border-width)
          var(--border-width);
      transform: scaleY(0.7);
    }
  }

  &:is([aria-expanded="true"]),
  .root:where(:not(.top))
    > &:where([aria-haspopup="menu"]):where(
      :not([aria-checked="true"], [aria-disabled="true"])
    ):hover {
    &::after {
      color: rgb(200, 200, 200);
    }
  }
}

.icon {
  flex: 0 0 1rem;
  height: 1rem;
  width: 1rem;
}

.title {
  flex: 1 1 auto;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.hasPopup {
}

.pointer {
}

/*
:root[data-theme-id="beos"] {
  .separator {
    border-color: var(--color--lowlight) transparent var(--color--highlight);
    border-width: var(--border-width) 0;
    margin: 0.25rem 0;

    &:focus {
      outline: 0;
    }
  }

  .menuitem {
    display: flex;
    position: relative;

    &:where(.top.vertical) + & {
      border-width: var(--border-width) 0 0;
    }
  }

  .button {
    align-items: center;
    display: flex;
    font-size: 0.875rem;
    font-weight: 500;
    gap: 0.5rem;
    line-height: 1.4;
    position: relative;
    user-select: none;

    .menuitem:where(.horizontal) > & {
      padding: 0 0.5rem;
    }

    .menuitem:where(.vertical) > & {
      padding: 0.25rem 0.5rem;
      width: 100%;
    }

    .menuitem:where(:not(.top)) > & {
      align-items: center;
      background-image: unset;
      display: flex;
      gap: 0.5rem;
      height: 1.5rem;
      padding: 0 1rem;
      position: relative;
      width: 100%;
    }

    &:focus {
      outline: 0;

      &:not(.pointer) {
        background-color: rgb(196, 196, 196);
        background-image: unset;
      }
    }

    &:where(.disabled) {
      color: var(--text-color--disabled);
    }

    &:is(.expanded),
    .menuitem:not(.top) > &:not(.checked, .disabled):hover {
      background-color: rgb(156, 156, 156);
    }

    .menuitem:not(.top) > &:where(.haspopup) {
      justify-content: space-between;

      &::after {
        color: rgb(238, 238, 238);
        content: "▶";
        font-size: 1rem;
        margin-right: -0.5rem;
        padding-left: 0.5rem;
        text-shadow: calc(var(--border-width) * -1) var(--border-width)
            rgba(0, 0, 0, 0.25),
          calc(var(--border-width) * -1) calc(var(--border-width) * -1)
            rgba(0, 0, 0, 0.25),
          var(--border-width) calc(var(--border-width) * -1) rgba(0, 0, 0, 0.25),
          var(--border-width) var(--border-width) rgba(0, 0, 0, 0.25),
          var(--border-width) var(--border-width) var(--border-width)
            rgba(0, 0, 0, 0.75);
      }
    }
  }

  .checkbox::before,
  .radio::before {
    content: "";
    font-size: 0.625rem;
    width: 0.75rem;
  }

  .checked::before {
    content: "✔️";
  }

  .title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .icon {
    flex: 0 0 1rem;
    height: 1rem;
    width: 1rem;
  }
}

:root[data-theme-id="mac-os-classic"] {
  .separator {
    border-color: var(--color--lowlight) transparent var(--color--highlight);
    border-width: var(--border-width) 0;
    margin: 0.25rem 0;

    &:focus {
      outline: 0;
    }
  }

  .menuitem {
    display: flex;
    position: relative;

    &:where(.top.vertical) + & {
      border-width: var(--border-width) 0 0;
    }
  }

  .button {
    align-items: center;
    display: flex;
    font-size: 0.875rem;
    font-weight: 500;
    gap: 0.5rem;
    line-height: 1.4;
    position: relative;
    user-select: none;

    .menuitem:where(.horizontal) > & {
      padding: 0 0.5rem;
    }

    .menuitem:where(.vertical) > & {
      padding: 0.25rem 0.5rem;
      width: 100%;
    }

    .menuitem:where(:not(.top)) > & {
      align-items: center;
      background-image: unset;
      display: flex;
      gap: 0.5rem;
      height: 1.5rem;
      padding: 0 1.5rem;
      position: relative;
      width: 100%;
    }

    &:focus {
      outline: 0;

      &:not(.pointer) {
        background-color: rgb(196, 196, 196);
        background-image: unset;
      }
    }

    &:where(.disabled) {
      color: var(--text-color--disabled);
    }

    &:is(.expanded),
    .menuitem:not(.top) > &:not(.checked, .disabled):hover {
      background-color: rgb(51, 51, 148);
      color: rgb(255, 255, 255);
    }

    .menuitem:not(.top) > &:where(.haspopup) {
      justify-content: space-between;

      &::after {
        content: "▶";
        font-size: 0.5rem;
        margin-right: -1rem;
        width: 0.5rem;
      }
    }
  }

  .checkbox::before,
  .radio::before {
    content: "";
    font-size: 0.625rem;
    margin-left: -0.5rem;
    width: 0.5rem;
  }

  .checked::before {
    content: "✔︎";
    font-family: var(--font-family--default);
    font-size: 0.75rem;
  }

  .title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .icon {
    flex: 0 0 1rem;
    height: 1rem;
    width: 1rem;
  }
}
*/
