:root[data-theme-id="beos"] {
  .separator {
    border-color: var(--lowlight-color) transparent var(--highlight-color);
    border-width: var(--border-width) 0;
    margin: 0.25rem 0;

    &:focus {
      outline: 0;
    }
  }

  .menuitem {
    display: flex;
    position: relative;

    &:where(.top.vertical) + & {
      border-width: var(--border-width) 0 0;
    }
  }

  .button {
    align-items: center;
    display: flex;
    font-size: 0.875rem;
    font-weight: 500;
    gap: 0.5rem;
    line-height: 1.4;
    position: relative;
    user-select: none;

    .menuitem:where(.horizontal) > & {
      padding: 0 0.5rem;
    }

    .menuitem:where(.vertical) > & {
      padding: 0.25rem 0.5rem;
      width: 100%;
    }

    .menuitem:where(:not(.top)) > & {
      align-items: center;
      background-image: unset;
      display: flex;
      gap: 0.5rem;
      height: 1.5rem;
      padding: 0 1rem;
      position: relative;
      width: 100%;
    }

    &:focus {
      outline: 0;

      &:not(.pointer) {
        background-color: rgb(196, 196, 196);
        background-image: unset;
      }
    }

    &:where(.disabled) {
      color: var(--text-color--disabled);
    }

    &:is(.expanded),
    .menuitem:not(.top) > &:not(.checked, .disabled):hover {
      background-color: rgb(156, 156, 156);
    }

    .menuitem:not(.top) > &:where(.haspopup) {
      justify-content: space-between;

      &::after {
        color: rgb(238, 238, 238);
        content: "▶";
        font-size: 1rem;
        margin-right: -0.5rem;
        padding-left: 0.5rem;
        text-shadow: calc(var(--border-width) * -1) var(--border-width)
            rgba(0, 0, 0, 0.25),
          calc(var(--border-width) * -1) calc(var(--border-width) * -1)
            rgba(0, 0, 0, 0.25),
          var(--border-width) calc(var(--border-width) * -1) rgba(0, 0, 0, 0.25),
          var(--border-width) var(--border-width) rgba(0, 0, 0, 0.25),
          var(--border-width) var(--border-width) var(--border-width)
            rgba(0, 0, 0, 0.75);
      }
    }
  }

  .checkbox::before,
  .radio::before {
    content: "";
    font-size: 0.625rem;
    width: 0.75rem;
  }

  .checked::before {
    content: "✔️";
  }

  .title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .icon {
    flex: 0 0 1rem;
    height: 1rem;
    width: 1rem;
  }
}

:root[data-theme-id="mac-os-classic"] {
  .separator {
    border-color: var(--lowlight-color) transparent var(--highlight-color);
    border-width: var(--border-width) 0;
    margin: 0.25rem 0;

    &:focus {
      outline: 0;
    }
  }

  .menuitem {
    display: flex;
    position: relative;

    &:where(.top.vertical) + & {
      border-width: var(--border-width) 0 0;
    }
  }

  .button {
    align-items: center;
    display: flex;
    font-size: 0.875rem;
    font-weight: 500;
    gap: 0.5rem;
    line-height: 1.4;
    position: relative;
    user-select: none;

    .menuitem:where(.horizontal) > & {
      padding: 0 0.5rem;
    }

    .menuitem:where(.vertical) > & {
      padding: 0.25rem 0.5rem;
      width: 100%;
    }

    .menuitem:where(:not(.top)) > & {
      align-items: center;
      background-image: unset;
      display: flex;
      gap: 0.5rem;
      height: 1.5rem;
      padding: 0 1.5rem;
      position: relative;
      width: 100%;
    }

    &:focus {
      outline: 0;

      &:not(.pointer) {
        background-color: rgb(196, 196, 196);
        background-image: unset;
      }
    }

    &:where(.disabled) {
      color: var(--text-color--disabled);
    }

    &:is(.expanded),
    .menuitem:not(.top) > &:not(.checked, .disabled):hover {
      background-color: rgb(51, 51, 148);
      color: rgb(255, 255, 255);
    }

    .menuitem:not(.top) > &:where(.haspopup) {
      justify-content: space-between;

      &::after {
        content: "▶";
        font-size: 0.5rem;
        margin-right: -1rem;
        width: 0.5rem;
      }
    }
  }

  .checkbox::before,
  .radio::before {
    content: "";
    font-size: 0.625rem;
    margin-left: -0.5rem;
    width: 0.5rem;
  }

  .checked::before {
    content: "✔︎";
    font-family: var(--font-family--default);
    font-size: 0.75rem;
  }

  .title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .icon {
    flex: 0 0 1rem;
    height: 1rem;
    width: 1rem;
  }
}
