:root:global(.theme-beos) {
  --window-padding: 0.25rem;

  .root {
    --window-background-color: var(--background-color--inactive);

    color: var(--text-color--dark);
    margin: calc(
        var(--window-padding) + var(--window-titlebar-height) +
          var(--window-padding)
      )
      0 0;
    padding: 0;
    position: fixed;

    &[aria-current="true"] {
      --window-background-color: var(--background-color--default);
    }

    &:focus {
      outline: 0;
    }
  }

  .frame {
    border-color: var(--color--lowlight) var(--color--highlight)
      var(--color--highlight) var(--color--lowlight);
    border-width: var(--border-width);
    box-shadow: inset 0 0 0 var(--border-width) var(--border-color--light);
    margin: var(--window-padding);
    padding: var(--border-width);
    position: relative;

    &::before {
      background-color: var(--window-background-color);
      border-color: var(--border-color--light) var(--border-color--dark)
        var(--border-color--dark) var(--border-color--light);
      border-width: var(--border-width);
      box-shadow: var(--box-shadow--high);
      content: "";
      inset: calc((var(--window-padding) + var(--border-width)) * -1);
      position: absolute;
      z-index: -1;
    }
  }
}
