.root {
  box-shadow: var(--box-shadow--high);
  padding: calc(var(--border-width) * 2);
}

.content {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.175);
  box-shadow: var(--box-shadow--low);
  display: flex;
  gap: 0.25rem;
  justify-content: space-between;
  padding: 0.25rem 0.5rem;
}

.icons {
  display: flex;
  gap: 0.25rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.icon {
  flex: 0 0 1rem;
  height: 1rem;
  width: 1rem;
}

/*
.root {
  display: flex;
}

:root[data-theme-id="beos"] {
  .root {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.125);
    border-width: var(--border-width) 0;
    gap: 0.25rem;
    justify-content: space-between;
    padding: 0.25rem 0.5rem;
  }

  .icons {
    display: flex;
    gap: 0.25rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .icon {
    flex: 0 0 1rem;
    height: 1rem;
    width: 1rem;
  }
}

:root[data-theme-id="mac-os-classic"] {
  .button {
    border-color: var(--color--highlight) var(--color--lowlight)
      var(--color--lowlight) var(--color--highlight);
    border-width: var(--border-width);
    inset: var(--border-width);
    margin: calc(var(--border-width) * -1) 0;

    &:active {
      border-color: var(--color--lowlight) var(--color--highlight)
        var(--color--highlight) var(--color--lowlight);
    }

    &::after {
      color: rgb(221, 221, 221);
      content: "⁞";
      font-family: var(--font-family--monospace);
      font-size: 1.25rem;
      line-height: var(--menubar-height);
      text-shadow: calc(var(--border-width) * -0.5)
          calc(var(--border-width) * -0.5) 0 var(--color--lowlight),
        calc(var(--border-width) * 0.5) calc(var(--border-width) * 0.5) 0
          var(--color--highlight);
    }
  }
}
*/
