.close {
  order: 1;
}
:root:where(:global(#BeOS)) .close {
  border-color: var(--titlebar_button-border-color, --border-color);
  border-radius: var(--titlebar_button-border-radius);
}

:root:where(:global(#BeOS)) [aria-current="true"] .close {
  background-image: var(--titlebar--active_button-background);
}

:root:where(:global(#BeOS)) .close:active,
:root:where(:global(#BeOS)) .close:focus-visible {
  background-image: var(--titlebar_button-background--active);
}

.zoom {
  order: 3;
}

:root:where(:global(#BeOS)) .zoom::before,
:root:where(:global(#BeOS)) .zoom::after {
  background-image: var(--titlebar_button-background);
  border-color: var(--titlebar_button-border-color, --border-color);
  border-radius: var(--titlebar_button-border-radius);
  border-width: var(--border-width);
  content: "";
  display: block;
  position: absolute;
}
:root:where(:global(#BeOS)) .zoom::before {
  height: calc((var(--titlebar-height)) / 1.8);
  left: 0;
  top: 0;
  width: calc((var(--titlebar-height)) / 1.8);
  z-index: 2;
}
:root:where(:global(#BeOS)) .zoom::after {
  bottom: 0;
  height: calc((var(--titlebar-height)) / 1.4);
  right: 0;
  width: calc((var(--titlebar-height)) / 1.4);
  z-index: 1;
}
:root:where(:global(#MacOSClassic)) .zoom::after {
  bottom: 33%;
  border-color: var(--border-color);
  border-width: 0 calc(var(--border-width) * 1.5)
    calc(var(--border-width) * 1.5) 0;
  content: "";
  left: 0;
  position: absolute;
  right: 33%;
  top: 0;
}

:root:where(:global(#BeOS)) [aria-current="true"] .zoom::before,
:root:where(:global(#BeOS)) [aria-current="true"] .zoom::after {
  background-image: var(--titlebar--active_button-background, none);
}

:root:where(:global(#BeOS)) .zoom:active::before,
:root:where(:global(#BeOS)) .zoom:active::after,
:root:where(:global(#BeOS)) .zoom:focus-visible::before,
:root:where(:global(#BeOS)) .zoom:focus-visible::after {
  background-image: var(--titlebar_button-background--active, none);
}

.collapse {
  order: 4;
}

:root:where(:global(#MacOSClassic)) .collapse::after {
  bottom: 33%;
  border-color: var(--border-color);
  border-width: calc(var(--border-width) * 1.5) 0
    calc(var(--border-width) * 1.5);
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 33%;
}
