:root {
  --background-color--dark: rgb(184, 184, 184);
  --background-color--default: rgb(222, 222, 222);
  --background-color--inactive: rgb(232, 232, 232);
  --border-color--dark: rgb(96, 96, 96);
  --border-color--default: var(--border-color--dark);
  --border-color--light: rgb(153, 153, 153);
  --border-width: 0.0625rem;
  --box-shadow--high: var(--border-width) var(--border-width)
      var(--color--lowlight),
    calc(var(--border-width) * -1) calc(var(--border-width) * -1)
      var(--color--highlight);
  --box-shadow--high--inset: inset var(--border-width) var(--border-width)
      var(--color--highlight),
    inset calc(var(--border-width) * -1) calc(var(--border-width) * -1)
      var(--color--lowlight);
  --box-shadow--low: var(--border-width) var(--border-width)
      var(--color--highlight),
    calc(var(--border-width) * -1) calc(var(--border-width) * -1)
      var(--color--lowlight);
  --box-shadow--low--inset: inset var(--border-width) var(--border-width)
      var(--color--lowlight),
    inset calc(var(--border-width) * -1) calc(var(--border-width) * -1)
      var(--color--highlight);
  --color--highlight: rgba(255, 255, 255, 0.6);
  --color--lowlight: rgba(0, 0, 0, 0.2);
  --cursor--default: url("./_cursors/default.svg") 1 0, default;
  --cursor--pointer: url("./_cursors/pointer.svg") 2 0, pointer;
  --cursor--text: url("./_cursors/text.svg") 7 10, text;
  --font-family--default: Helvetica;
  --font-family--monospace: var(--font-family--courier-10-pitch);
  --scrollbar-width: 1rem;
  --system-bar-width: 11rem;
  --text-color--dark: rgb(0, 0, 0);
  --text-color--default: var(--text-color--dark);
  --text-color--disabled: rgb(160, 160, 160);
  --text-color--light: rgb(255, 255, 255);
  --title-bar-height: 1.125rem;
  --window-padding: 0.25rem;
}

body {
  background: rgb(51, 102, 152);
}

*::selection {
  background-color: rgb(0, 0, 0);
  color: var(--text-color--light);
}

.clock {
  font-size: 0.8125rem;
  font-weight: 500;
  margin-right: -0.25rem;
  padding: 0 0.25rem;
  user-select: none;
}

.dialog {
}

.grid {
  align-items: start;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, 6rem);
  justify-items: center;
  min-height: 100%;
  padding: 1rem;
  position: relative;
  width: 100%;

  body > & {
    color: var(--text-color--light);
    padding-right: calc(1rem + var(--system-bar-width));
  }

  > mark {
    background: transparent;
    border-color: var(--border-color--light);
    border-style: dotted;
    border-width: var(--border-width);
    content: "";
    position: absolute;
  }
}

.icon {
  align-items: center;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  font-family: inherit;
  gap: 0.25rem;
  max-height: 100%;
  width: 100%;

  > svg {
    aspect-ratio: 1 / 1;
    margin: 0 25%;
    width: 50%;
  }

  > label {
    font-size: 0.875rem;
    font-weight: 400;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &:focus > label {
    background-color: rgba(0, 0, 0, 0.4);
  }
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

  &[aria-orientation="horizontal"] {
    flex-direction: row;
    height: 1.5rem;

    &[role="menubar"] {
      box-shadow: var(--box-shadow--high--inset);
    }
  }

  &[aria-orientation="horizontal"] & {
    left: 0;
    top: 100%;
  }

  &[aria-orientation="vertical"] {
    flex-direction: column;
  }

  &[aria-orientation="vertical"] & {
    right: calc(100% - var(--border-width));
    top: 0;
  }

  &[role="menu"] {
    background-color: var(--background-color--default);
    border-width: var(--border-width);
    box-shadow: var(--box-shadow--high--inset);
    color: var(--text-color--dark);
    flex-direction: column;
    max-width: 20rem;
    min-width: 5rem;
    position: absolute;
    z-index: 100;

    & & {
      left: 100%;
      right: unset;
      top: 0;
    }
  }
}

.menuitem {
  position: relative;

  > button {
    align-items: center;
    display: flex;
    font-size: 0.875rem;
    font-weight: 500;
    gap: 0.5rem;
    line-height: 1.2;
    user-select: none;

    > svg {
      flex: 0 0 1rem;
      height: 1rem;
      width: 1rem;
    }

    > label {
      flex: 1 1 auto;
      overflow: hidden;
      text-align: left;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  [aria-orientation="horizontal"] > & {
    > button {
      height: 100%;
      padding: 0 0.5rem;
    }
  }

  [aria-orientation="vertical"] > & {
    > button {
      padding: 0.25rem 0.5rem;
      width: 100%;
    }
  }

  [role="menubar"][aria-orientation="vertical"] > & {
    > button {
      box-shadow: var(--box-shadow--high--inset);

      &[aria-expanded="true"] {
        box-shadow: inset 0 var(--border-width) var(--border-color--dark);
      }
    }
  }

  [role="menu"] > & {
    > button {
      &:not([aria-checked="true"], [aria-disabled="true"]) {
        &:hover {
          background-color: rgb(160, 160, 160);
        }
      }

      &[aria-haspopup="menu"] {
        &::after {
          color: rgb(240, 240, 240);
          content: "▶︎";
          font-size: 0.75rem;
          position: absolute;
          right: 0.5rem;
          text-shadow: var(--border-color--dark) 0 0 var(--border-width),
            var(--border-color--dark) var(--border-width) var(--border-width)
              var(--border-width);
          transform: scaleY(0.7);
        }

        &[aria-expanded="true"] {
          &::after {
            color: rgb(200, 200, 200);
          }
        }
      }
    }
  }

  [role="menu"]:has(> & > button[aria-haspopup="menu"]) > & > button {
    padding-right: 2rem;
  }
}

.scrollable {
}

.system-bar {
  background-color: var(--background-color--default);
  border-width: var(--border-width);
  box-shadow: var(--box-shadow--high--inset);
  color: var(--text-color--dark);
  display: flex;
  flex-direction: column;
  max-height: 100dvh;
  position: fixed;
  right: 0;
  top: 0;
  width: var(--system-bar-width);

  > .menu:first-of-type > .menuitem > button {
    padding: 0.125rem;

    > svg {
      flex: 1 1 8rem;
      height: 1.75rem;
      width: unset;
    }

    > label {
      display: none;
    }
  }
}

.title {
  flex: 1 1 auto;
  font-size: 1rem;
  height: 1.25rem;
  line-height: 1.2;
  margin: 0;
  order: 2;
  overflow: hidden;
  padding: 0 0.75rem;
  text-overflow: ellipsis;
  user-select: none;
  white-space: nowrap;
}

.title-bar {
  background-color: var(--background-color--inactive);
  border-color: var(--border-color--light) var(--border-color--dark) transparent
    var(--border-color--light);
  border-width: var(--border-width);
  bottom: 100%;
  box-shadow: var(--box-shadow--high--inset);
  box-sizing: content-box;
  display: flex;
  gap: 0.5rem;
  height: var(--title-bar-height);
  left: 0;
  padding: var(--window-padding);
  position: absolute;
  width: 100%;
  z-index: 1;
}

.title-bar-button {
}

.tray {
  align-items: center;
  background-clip: padding-box;
  background-color: rgba(0, 0, 0, 0.175);
  border-color: transparent;
  border-width: var(--border-width);
  box-shadow: var(--box-shadow--high), var(--box-shadow--low--inset);
  display: flex;
  gap: 0.25rem;
  justify-content: space-between;
  margin: var(--border-width);
  padding: 0.25rem 0.5rem;
  position: relative;
}

.tray-icons {
  display: flex;
  gap: 0.25rem;
  list-style: none;
  margin: 0;
  padding: 0;

  & > li {
    flex: 0 0 1rem;
    height: 1rem;
    width: 1rem;
  }
}

.window {
  background-color: var(--background-color--inactive);
  border-color: var(--border-color--light) var(--border-color--dark)
    var(--border-color--dark) var(--border-color--light);
  border-width: var(--border-width);
  box-shadow: var(--box-shadow--high--inset);
  left: 0;
  padding: var(--window-padding);
  position: fixed;
  top: 0;

  &:focus {
    outline: 0;
  }
}
