.root {
  align-items: center;
  background-image: linear-gradient(
    to bottom,
    rgb(234, 234, 234),
    rgb(220, 220, 220)
  );
  border-color: rgb(93, 93, 93);
  border-width: var(--border-width);
  display: inline-flex;
  font-size: 0.8125rem;
  gap: 0.25rem;
  justify-content: center;
  min-width: 4rem;
  padding: 0.125rem 0.25rem;
  outline: 0.125rem solid rgb(172, 172, 172);
}

.root:active {
  background-image: linear-gradient(
    to bottom,
    rgb(220, 220, 220),
    rgb(234, 234, 234)
  );
}
