:root:global(.theme-mac-os-classic) {
  .root {
    order: 2;
  }
}

/*
:root:global(.theme-mac-os-classic) {
  .button {
    border-color: var(--color--highlight) var(--color--lowlight)
      var(--color--lowlight) var(--color--highlight);
    border-width: var(--border-width);
    inset: var(--border-width);
    margin: calc(var(--border-width) * -1) 0;

    &:active {
      border-color: var(--color--lowlight) var(--color--highlight)
        var(--color--highlight) var(--color--lowlight);
    }

    &::after {
      color: rgb(221, 221, 221);
      content: "⁞";
      font-family: var(--font-family--monospace);
      font-size: 1.25rem;
      line-height: var(--system-bar-height);
      text-shadow: calc(var(--border-width) * -0.5)
          calc(var(--border-width) * -0.5) 0 var(--color--lowlight),
        calc(var(--border-width) * 0.5) calc(var(--border-width) * 0.5) 0
          var(--color--highlight);
    }
  }
}
*/
