:root:global(.theme-mac-os-classic) {
  --window-padding: 0.25rem;

  .root {
    --window-background-color: var(--background-color--inactive);

    background-color: var(--window-background-color);
    border-width: var(--border-width);
    box-shadow: 0.125rem 0.125rem 0.0625rem var(--color--lowlight),
      var(--box-shadow--high);
    position: fixed;

    &[aria-current="true"] {
      --window-background-color: var(--background-color--default);
    }

    &:focus {
      outline: 0;
    }
  }

  .frame {
    border-color: var(--color--lowlight) var(--color--highlight)
      var(--color--highlight) var(--color--lowlight);
    border-width: var(--border-width);
    box-shadow: inset 0 0 0 var(--border-width) var(--border-color);
    padding: var(--border-width);
    margin: var(--window-padding);
  }
}
