:root.theme-beos {
  .component-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    &[aria-orientation="horizontal"] {
      flex-direction: row;
      height: 1.5rem;

      &[role="menubar"] {
        box-shadow: var(--box-shadow--high);
      }
    }

    &[aria-orientation="horizontal"] & {
      left: 0;
      top: 100%;
    }

    &[aria-orientation="vertical"] {
      flex-direction: column;
    }

    &[aria-orientation="vertical"] & {
      right: calc(100% - var(--border-width));
      top: 0;
    }

    &[role="menu"] {
      background-color: var(--background-color--default);
      border-width: var(--border-width);
      box-shadow: var(--box-shadow--high);
      color: var(--text-color--dark);
      flex-direction: column;
      max-width: 20rem;
      min-width: 5rem;
      position: absolute;
      z-index: 100;
    }

    &[role="menu"] & {
      left: 100%;
      right: unset;
      top: 0;
    }
  }
}
