.root {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

  &:where(.horizontal) {
    flex-direction: row;
    height: 1.5rem;

    &:where(.bar) {
      xborder-width: var(--border-width) 0;
      box-shadow: var(--box-shadow--high);
    }
  }

  &:where(.horizontal) & {
    left: 0;
    top: 100%;
  }

  &:where(.vertical) {
    flex-direction: column;
  }

  &:where(.vertical) & {
    right: calc(100% - var(--border-width));
    top: 0;
  }

  &:where(:not(.bar)) {
    background-color: var(--background-color--default);
    border-width: var(--border-width);
    box-shadow: var(--box-shadow--high);
    color: var(--text-color--dark);
    flex-direction: column;
    max-width: 20rem;
    min-width: 5rem;
    position: absolute;
    z-index: 100;
  }

  &:where(:not(.bar)) & {
    left: 100%;
    right: unset;
    top: 0;
  }
}
