.root {
  background-color: var(--window-background-color);
  border-color: var(--color--highlight);
  border-width: var(--border-width) 0 0 var(--border-width);
  bottom: var(--window-padding);
  box-shadow: calc(var(--border-width) * -1) calc(var(--border-width) * -1)
    var(--border-color--light);
  color: rgba(0, 0, 0, 0.2);
  height: var(--scrollbar-size);
  padding: var(--border-width);
  position: absolute;
  right: var(--window-padding);
  width: var(--scrollbar-size);
  z-index: 3;
}

/*
:root[data-theme-id="beos"] {
  .root {
    border-color: var(--border-color--dark) var(--window-background-color)
      var(--window-background-color) var(--border-color--dark);
    cursor: var(--cursor--grab);

    [aria-current="true"] & {
      border-color: var(--border-color--dark) var(--window-background-color--active)
        var(--window-background-color--active) var(--border-color--dark);
    }
  }
}

:root[data-theme-id="mac-os-classic"] {
  .root {
    border-color: rgb(255, 255, 255) var(--window-background-color)
      var(--window-background-color) rgb(255, 255, 255);

    [aria-current="true"] & {
      border-color: rgb(255, 255, 255) var(--window-background-color--active)
        var(--window-background-color--active) rgb(255, 255, 255);
    }
  }
}
*/
