:root:global(.theme-beos) {
  --content-scrollbar-size: 1rem;

  .root {
    flex: 1 1 auto;
    height: 100%;
    overflow: hidden;
  }

  .content {
    background-color: rgb(255, 255, 255);
    border-width: var(--border-width);
    box-sizing: content-box;
    cursor: var(--cursor--default);
    flex: 1 1 auto;
    overflow: hidden;

    &:where(.resizing) {
      pointer-events: none;
    }
  }

  .scrollable {
    overflow: scroll;

    /* note: custom scrollbar styles not supported in ios >14 😔 */
    &::-webkit-scrollbar {
      appearance: none;
      background-color: rgb(239, 239, 239);
      height: var(--content-scrollbar-size);
      width: var(--content-scrollbar-size);
    }

    &::-webkit-scrollbar-button {
      display: none;
    }

    &::-webkit-scrollbar-thumb {
      border-color: var(--border-color);
      border-style: solid;
    }

    &::-webkit-scrollbar-thumb:horizontal {
      background-image: linear-gradient(
        to bottom,
        rgb(240, 240, 240),
        rgb(200, 200, 200)
      );
      border-width: var(--border-width) var(--border-width) 0
        var(--border-width);
    }

    &::-webkit-scrollbar-thumb:vertical {
      background-image: linear-gradient(
        to right,
        rgb(240, 240, 240),
        rgb(200, 200, 200)
      );
      border-width: var(--border-width) 0 var(--border-width)
        var(--border-width);
    }

    &::-webkit-scrollbar-track {
      border-color: var(--border-color);
      border-style: solid;
    }

    &::-webkit-scrollbar-track:horizontal {
      border-width: var(--border-width) 0 0 0;
    }

    &::-webkit-scrollbar-track:vertical {
      border-width: 0 0 0 var(--border-width);
    }
  }

  .zoomed {
    box-sizing: border-box;
    height: 100%;
  }

  .resize {
    &.resizing {
      cursor: var(--cursor--grabbing);
    }

    &.zoomed {
      color: transparent;
      pointer-events: none;
    }
  }
}

:root:global(.theme-mac-os-classic) {
  --content-scrollbar-size: 1rem;

  .root {
    border-color: rgb(128, 128, 128) rgb(255, 255, 255) rgb(255, 255, 255)
      rgb(128, 128, 128);
    border-width: var(--border-width);
    flex: 1 1 auto;
    overflow: hidden;
  }

  .content {
    background-color: rgb(255, 255, 255);
    border-width: var(--border-width);
    cursor: var(--cursor--default);
    flex: 1 1 auto;
    height: 100%;
    overflow: hidden;

    &:where(.resizing) {
      pointer-events: none;
    }
  }

  .scrollable {
    overflow: scroll;

    /* note: custom scrollbar styles not supported in ios >14 😔 */
    &::-webkit-scrollbar {
      appearance: none;
      background-color: rgb(170, 170, 170);
      height: var(--content-scrollbar-size);
      width: var(--content-scrollbar-size);
    }

    &::-webkit-scrollbar-button {
      display: none;
    }

    &::-webkit-scrollbar-corner {
      background-color: var(--window-background-color--active);
      border-color: var(--border-color);
      border-style: solid;
      border-width: var(--border-width) 0 0 var(--border-width);
    }

    &::-webkit-scrollbar-thumb {
      border-color: var(--border-color);
      border-style: solid;
    }

    &::-webkit-scrollbar-thumb:horizontal {
      background-color: rgb(153, 153, 248);
      border-width: var(--border-width) var(--border-width) 0
        var(--border-width);
    }

    &::-webkit-scrollbar-thumb:vertical {
      background-color: rgb(153, 153, 248);
      border-width: var(--border-width) 0 var(--border-width)
        var(--border-width);
    }

    &::-webkit-scrollbar-track {
      border-color: var(--border-color);
      border-style: solid;
    }

    &::-webkit-scrollbar-track:horizontal {
      border-width: var(--border-width) 0 0 0;
    }

    &::-webkit-scrollbar-track:vertical {
      border-width: 0 0 0 var(--border-width);
    }
  }

  [aria-current="false"] .scrollable {
    &::-webkit-scrollbar {
      background-color: rgb(239, 239, 239);
    }

    &::-webkit-scrollbar-corner {
      background-color: var(--window-background-color);
    }

    &::-webkit-scrollbar-thumb {
      display: none;
    }
  }

  .resize {
    &.zoomed {
      color: transparent;
      pointer-events: none;
    }

    [aria-current="false"] & {
      color: transparent;
      pointer-events: none;
    }
  }
}
