.root {
  --calendar-background-color: rgb(216, 216, 216);
  --calendar-margin: 0.5rem;
  --calendar-padding: 0.25rem;

  position: fixed;
  right: var(--calendar-margin);
  top: var(--calendar-margin);
  user-select: none;
  z-index: 100;
}

.tile {
}

.calendar {
  background-color: var(--calendar-background-color);
  color: rgb(0, 0, 0);
  padding: var(--calendar-padding);
  width: 18rem;
}
.calendar :global(.react-calendar__navigation) {
  height: 1.5rem;
  margin: 0 0 var(--calendar-padding);
}
.calendar :global(.react-calendar__navigation button) {
  min-width: 1.5rem;
}
.calendar :global(.react-calendar__navigation button:disabled) {
  background-color: transparent;
  color: inherit;
}
.calendar :global(.react-calendar__navigation__label) {
  font-weight: 600;
}
.calendar :global(.react-calendar__viewContainer) {
  border-width: var(--border-width);
  padding: var(--calendar-padding);
}
.calendar :global(.react-calendar__month-view) {
  background-color: var(--calendar-background-color);
}
.calendar :global(.react-calendar__viewContainer),
.calendar :global(.react-calendar__month-view__days) {
  background-color: rgb(255, 255, 255);
}
.calendar :global(.react-calendar__tile) {
  padding: 0.25rem 0.125rem;
}
.calendar :global(.react-calendar__tile--now) {
  background-color: transparent;
}
.calendar :global(.react-calendar__tile--active),
.calendar :global(.react-calendar__tile--active:hover),
.calendar :global(.react-calendar__tile--active:focus),
.calendar :global(.react-calendar__tile--now:hover),
.calendar :global(.react-calendar__tile--now:focus) {
  background: var(--calendar-background-color);
  color: inherit;
}
.calendar :global(.react-calendar__month-view__days__day--weekend) {
  color: inherit;
}
.calendar :global(.react-calendar__month-view__days__day--neighboringMonth) {
  color: rgba(0, 0, 0, 0.3);
}
.calendar :global(abbr) {
  text-decoration: none;
}
