:root {
  --window-background-color: rgb(232, 232, 232);
  --window--active-background-color: rgb(224, 224, 224);
  --window-padding: 0.125rem;
}

.root {
  background-color: var(--window-background-color);
  border-width: var(--border-width);
  color: rgb(0, 0, 0);
  cursor: var(--cursor--grab);
  display: flex;
  flex-direction: column;
  margin: calc(
      var(--window-padding) + var(--titlebar-height) + var(--window-padding)
    )
    0 0;
  padding: var(--window-padding);
  position: fixed;
}

.root:focus-within {
  background-color: var(--window--active-background-color);
  outline: 0;
}

.root[hidden] {
  display: none;
}

.zoomed {
  cursor: unset;
  height: calc(
    100vh - var(--window-padding) - var(--titlebar-height) -
      var(--window-padding)
  );
  transform: translate(0, 0) !important;
  width: calc(100vw - var(--deskbar-width));
}
