.button {
  justify-content: center;
}

[role="menubar"] .button[aria-expanded="true"] {
  background-image: linear-gradient(
    to bottom,
    rgb(206, 206, 206),
    rgb(219, 219, 219)
  );
}

.title {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.0625rem;
  text-shadow: 0 0 0.25rem rgb(255, 255, 255);
}
