:root[data-theme-id="beos"] {
  --titlebar-height: 1.25rem;
}
:root[data-theme-id="mac-os-classic"] {
  --titlebar-height: 1rem;
}

.root {
  box-sizing: content-box;
  display: flex;
  height: var(--titlebar-height);
  padding: var(--window-padding);

  :root[data-theme-id="beos"] & {
    --titlebar-button-background-image: linear-gradient(
      to bottom right,
      rgb(255, 255, 255),
      rgb(216, 216, 216)
    );
    --titlebar-button-background-image--active: linear-gradient(
      to top left,
      rgb(255, 255, 255),
      rgb(216, 216, 216)
    );

    background-color: var(--background-color--inactive);
    border-color: var(--border-color--light) var(--border-color--dark)
      var(--background-color--inactive) var(--border-color--light);
    border-width: var(--border-width);
    box-shadow: inset var(--border-width) var(--border-width)
        var(--color--highlight),
      inset calc(var(--border-width) * -1) 0 var(--color--lowlight);
    gap: 0.5rem;
    left: calc(var(--border-width) * -1);
    max-width: 100%;
    position: absolute;
    top: calc(
      (
          var(--border-width) + var(--window-padding) + var(--titlebar-height) +
            var(--window-padding)
        ) * -1
    );
    z-index: 1;
  }

  [aria-current="true"] & {
    :root[data-theme-id="beos"] & {
      --titlebar-button-background-image: linear-gradient(
        to bottom right,
        rgb(248, 248, 96),
        rgb(224, 182, 60)
      );
      --titlebar-button-background-image--active: linear-gradient(
        to top left,
        rgb(248, 248, 96),
        rgb(224, 182, 60)
      );

      background-color: rgb(240, 202, 68);
      border-bottom-color: var(--background-color--default);
    }
  }
}

.dragging {
}

.title {
  flex: 1 1 auto;
  font-size: 1rem;
  margin: 0;
  overflow: hidden;
  padding: 0 0.75rem;
  text-overflow: ellipsis;
  user-select: none;
  white-space: nowrap;

  :root[data-theme-id="beos"] & {
    order: 2;
  }
  :root[data-theme-id="mac-os-classic"] & {
    order: 2;
  }
}

.button {
  aspect-ratio: 1 / 1;
  cursor: var(--cursor--default);
  flex: 0 0 var(--titlebar-height);
  position: relative;

  &:focus {
    outline: 0;
  }
}

.close {
  :root[data-theme-id="beos"] & {
    background-image: var(--titlebar-button-background-image);
    border-color: var(--color--lowlight) var(--color--highlight)
      var(--color--highlight) var(--color--lowlight);
    border-width: var(--border-width);
    box-shadow: inset var(--border-width) var(--border-width)
        var(--color--highlight),
      inset calc(var(--border-width) * -1) calc(var(--border-width) * -1)
        var(--color--lowlight);
    order: 1;

    &:active,
    &:focus-visible {
      background-image: var(--titlebar-button-background-image--active);
      box-shadow: inset var(--border-width) var(--border-width)
          var(--color--lowlight),
        inset calc(var(--border-width) * -1) calc(var(--border-width) * -1)
          var(--color--highlight);
    }
  }
  :root[data-theme-id="mac-os-classic"] & {
    order: 1;
  }
}

.zoom {
  :root[data-theme-id="beos"] & {
    order: 3;

    &::before,
    &::after {
      background-image: var(--titlebar-button-background-image);
      border-color: var(--color--lowlight) var(--color--highlight)
        var(--color--highlight) var(--color--lowlight);
      border-width: var(--border-width);
      box-shadow: inset var(--border-width) var(--border-width)
          var(--color--highlight),
        inset calc(var(--border-width) * -1) calc(var(--border-width) * -1)
          var(--color--lowlight);
      content: "";
      position: absolute;
    }
    &::before {
      height: calc((var(--titlebar-height)) / 1.8);
      left: 0;
      top: 0;
      width: calc((var(--titlebar-height)) / 1.8);
      z-index: 2;
    }
    &::after {
      bottom: 0;
      height: calc((var(--titlebar-height)) / 1.4);
      right: 0;
      width: calc((var(--titlebar-height)) / 1.4);
      z-index: 1;
    }

    &:active,
    &:focus-visible {
      &::before,
      &::after {
        background-image: var(--titlebar-button-background-image--active);
        box-shadow: inset var(--border-width) var(--border-width)
            var(--color--lowlight),
          inset calc(var(--border-width) * -1) calc(var(--border-width) * -1)
            var(--color--highlight);
      }
    }
  }
  :root[data-theme-id="mac-os-classic"] & {
    order: 3;
  }
}

/*
:root[data-theme-id="beos"] {
  --titlebar-height: 1.25rem;
  --titlebar_button-background: linear-gradient(
    to bottom right,
    rgb(255, 255, 255),
    rgb(232, 232, 232)
  );
  --titlebar--active_button-background: linear-gradient(
    to bottom right,
    rgb(255, 255, 255),
    rgb(255, 200, 0)
  );
  --titlebar_button-background--active: linear-gradient(
    to top left,
    rgb(255, 255, 255),
    rgb(218, 175, 8)
  );
  --titlebar_button-border-color: rgb(173, 136, 0);
  --titlebar_button-border-radius: 0.125rem;

  .root {
    align-items: center;
    background-color: var(--window-background-color);
    border-width: var(--border-width) var(--border-width) 0;
    bottom: 100%;
    box-sizing: content-box;
    height: var(--titlebar-height);
    display: flex;
    left: 0;
    margin: 0 calc((var(--border-width) + var(--window-padding)) * -1);
    max-width: calc(100% - var(--window-padding) - var(--window-padding));
    padding: var(--window-padding);
    position: absolute;
    z-index: 1;

    [aria-current="true"] & {
      background-color: rgb(248, 208, 70);
    }

    &:where(.dragging) {
      cursor: var(--cursor--grabbing);
    }
  }

  .title {
    flex: 1 1 auto;
    font-size: 1rem;
    margin: 0 1rem;
    order: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
    white-space: nowrap;
  }

  .button {
    cursor: var(--cursor--default);
    flex: 0 0 var(--titlebar-height);
    height: var(--titlebar-height);
    position: relative;
    width: var(--titlebar-height);

    &:focus {
      outline: 0;
    }
  }

  .close {
    background-image: var(--titlebar_button-background);
    border-color: var(--titlebar_button-border-color);
    border-radius: var(--titlebar_button-border-radius);
    border-width: var(--border-width);
    order: 1;

    [aria-current="true"] & {
      background-image: var(--titlebar--active_button-background);
    }

    &:active,
    &:focus-visible {
      background-image: var(--titlebar_button-background--active);
    }
  }

  .zoom {
    order: 3;

    &::before,
    &::after {
      background-image: var(--titlebar_button-background);
      border-color: var(--titlebar_button-border-color);
      border-radius: var(--titlebar_button-border-radius);
      border-width: var(--border-width);
      content: "";
      display: block;
      position: absolute;
    }

    &::before {
      height: calc((var(--titlebar-height)) / 1.8);
      left: 0;
      top: 0;
      width: calc((var(--titlebar-height)) / 1.8);
      z-index: 2;
    }

    &::after {
      bottom: 0;
      height: calc((var(--titlebar-height)) / 1.4);
      right: 0;
      width: calc((var(--titlebar-height)) / 1.4);
      z-index: 1;
    }

    [aria-current="true"] &::before,
    [aria-current="true"] &::after {
      background-image: var(--titlebar--active_button-background);
    }

    &:active::before,
    &:active::after,
    &:focus-visible::before,
    &:focus-visible::after {
      background-image: var(--titlebar_button-background--active);
    }
  }
}

:root[data-theme-id="mac-os-classic"] {
  --titlebar-height: 1rem;
  --titlebar_button-background: linear-gradient(
    to bottom right,
    rgb(154, 154, 154),
    rgb(248, 248, 248)
  );
  --titlebar_button-background--active: linear-gradient(
    to bottom right,
    rgb(90, 90, 90),
    rgb(157, 157, 157)
  );

  .root {
    align-items: center;
    box-sizing: content-box;
    height: var(--titlebar-height);
    display: flex;
    gap: 0.25rem;
    left: var(--window-padding);
    position: absolute;
    right: var(--window-padding);
    top: var(--window-padding);

    &::before,
    &::after {
      background: repeating-linear-gradient(
        rgb(221, 221, 221),
        rgb(221, 221, 221) var(--border-width),
        rgb(153, 153, 153) var(--border-width),
        rgb(153, 153, 153) calc(var(--border-width) * 2)
      );
      border-color: transparent var(--color--lowlight) transparent
        var(--color--highlight);
      border-width: 0 var(--border-width);
      content: "";
      flex: 1 1 auto;
      height: calc(var(--titlebar-height) - 0.25rem);
      min-width: 1rem;
    }

    &::before {
      order: 2;
    }

    &::after {
      order: 5;
    }

    [aria-current="false"] &::before,
    [aria-current="false"] &::after {
      visibility: hidden;
    }
  }

  .title {
    flex: 0 1 auto;
    font-size: 0.875rem;
    margin: 0;
    order: 4;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
    white-space: nowrap;

    [aria-current="false"] & {
      filter: opacity(40%);
    }
  }

  .icon {
    flex: 0 0 var(--titlebar-height);
    height: var(--titlebar-height);
    order: 3;
    width: var(--titlebar-height);
  }

  .button {
    background-image: var(--titlebar_button-background);
    border-color: var(--color--lowlight) var(--color--highlight)
      var(--color--highlight) var(--color--lowlight);
    border-width: var(--border-width);
    cursor: var(--cursor--default);
    flex: 0 0 var(--titlebar-height);
    height: var(--titlebar-height);
    position: relative;
    width: var(--titlebar-height);

    &:focus {
      outline: 0;
    }

    &:active,
    &:focus-visible {
      background-image: var(--titlebar_button-background--active);

      &::before {
        border-color: var(--color--lowlight);
      }
    }

    &::before {
      border-color: var(--color--highlight) var(--color--lowlight)
        var(--color--lowlight) var(--color--highlight);
      border-width: var(--border-width);
      content: "";
      inset: var(--border-width);
      outline-color: rgb(38, 38, 38);
      outline-style: solid;
      outline-width: var(--border-width);
      position: absolute;
    }

    [aria-current="false"] & {
      visibility: hidden;
    }
  }

  .close {
    order: 1;
  }

  .zoom {
    order: 6;

    &::after {
      border-color: var(--border-color--dark);
      border-width: 0 calc(var(--border-width) * 1.5)
        calc(var(--border-width) * 1.5) 0;
      content: "";
      inset: 0 33% 33% 0;
      position: absolute;
    }
  }

  .collapse {
    order: 7;

    &::after {
      border-color: var(--border-color--dark);
      border-width: calc(var(--border-width) * 1.5) 0
        calc(var(--border-width) * 1.5);
      content: "";
      inset: 34% 0;
      position: absolute;
    }
  }
}
*/
