:root.theme-mac-os-classic {
  --background-color--dark: transparent;
  --background-color--default: rgb(204, 204, 204);
  --background-color--inactive: rgb(220, 220, 220);
  --background-color--selection: rgb(204, 204, 255);
  --border-color--dark: rgb(38, 38, 38);
  --border-color--light: rgb(140, 140, 140);
  --border-radius: 0.75rem;
  --border-width: 0.0625rem;
  --box-shadow-elevation--high: 0.125rem 0.125rem 0.125rem rgba(0, 0, 0, 0.8);
  --box-shadow-elevation--low: 0.125rem 0.125rem 0.125rem rgba(0, 0, 0, 0.15);
  --box-shadow--high: inset var(--border-width) var(--border-width)
      var(--color--highlight),
    inset calc(var(--border-width) * -1) calc(var(--border-width) * -1)
      var(--color--lowlight);
  --box-shadow--low: inset var(--border-width) var(--border-width)
      var(--color--lowlight),
    inset calc(var(--border-width) * -1) calc(var(--border-width) * -1)
      var(--color--highlight);
  --color--highlight: rgba(255, 255, 255, 0.6);
  --color--lowlight: rgba(0, 0, 0, 0.25);
  --component-desktop-background: url(/images/mac-os-classic.png)
    rgb(48, 48, 48);
  --component-system-bar-height: 1.5rem;
  --component-system-bar-width: auto;
  --component-window-header-height: 1rem;
  --component-window-padding: 0.25rem;
  --cursor--default: url("/cursors/default.theme-mac-os-classic.svg") 7 4,
    default;
  --cursor--pointer: url("/cursors/pointer.theme-mac-os-classic.svg") 8 3,
    pointer;
  --cursor--text: url("/cursors/text.theme-mac-os-classic.svg") 9 10, default;
  --font-family--default: arial;
  --font-family--monospace: ui-monospace, Menlo, Monaco, "Cascadia Mono",
    "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace",
    "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  --font-family--system: var(--font-family--charcoal);
  --scrollbar-width: 1rem;
  --text-color--dark: rgb(0, 0, 0);
  --text-color--default: var(--text-color--dark);
  --text-color--disabled: rgb(160, 160, 160);
  --text-color--light: rgb(255, 255, 255);
}
