:root.theme-beos {
  --background-color--dark: rgb(184, 184, 184);
  --background-color--default: rgb(222, 222, 222);
  --background-color--inactive: rgb(232, 232, 232);
  --background-color--selection: rgb(0, 0, 0);
  --border-color--dark: rgb(96, 96, 96);
  --border-color--light: rgb(153, 153, 153);
  --border-radius: 0;
  --border-width: 0.0625rem;
  --box-shadow--high: inset var(--border-width) var(--border-width)
      var(--color--highlight),
    inset calc(var(--border-width) * -1) calc(var(--border-width) * -1)
      var(--color--lowlight);
  --box-shadow--low: inset var(--border-width) var(--border-width)
      var(--color--lowlight),
    inset calc(var(--border-width) * -1) calc(var(--border-width) * -1)
      var(--color--highlight);
  --color--highlight: rgba(255, 255, 255, 0.6);
  --color--lowlight: rgba(0, 0, 0, 0.2);
  --component-desktop-background: rgb(51, 102, 152);
  --component-system-bar-height: auto;
  --component-system-bar-width: 11rem;
  --component-window-header-height: 1.125rem;
  --component-window-padding: 0.25rem;
  --cursor--default: url("/cursors/default.theme-beos.svg") 1 0, default;
  --cursor--pointer: url("/cursors/pointer.theme-beos.svg") 2 0, pointer;
  --cursor--text: url("/cursors/text.theme-beos.svg") 7 10, text;
  --font-family--default: Helvetica;
  --font-family--monospace: var(--font-family--courier-10-pitch);
  --scrollbar-width: 1rem;
  --text-color--dark: rgb(0, 0, 0);
  --text-color--default: var(--text-color--light);
  --text-color--disabled: rgb(160, 160, 160);
  --text-color--light: rgb(255, 255, 255);
}
