:root.theme-mac-os-classic {
  .component-system-bar {
    background-color: var(--background-color--inactive);
    border-radius: var(--border-radius, 0) var(--border-radius, 0) 0 0;
    border-width: 0 0 var(--border-width);
    box-shadow: var(--box-shadow--high);
    display: flex;
    font-family: var(--font-family--system);
    height: var(--component-system-bar-height);
    inset: 0;
    padding: 0 1rem;
    position: fixed;
    z-index: 1000;

    &::after {
      content: "";
      flex: 1 1 auto;
    }
  }
}
