:root:global(.theme-beos) {
  --window-background-color: rgb(232, 232, 232);
  --window--active-background-color: rgb(224, 224, 224);
  --window-padding: 0.125rem;

  .root {
    background-color: var(--window-background-color);
    border-width: var(--border-width);
    color: rgb(0, 0, 0);
    cursor: var(--cursor--grab);
    display: flex;
    flex-direction: column;
    margin: calc(
        var(--window-padding) + var(--titlebar-height) + var(--window-padding)
      )
      0 0;
    padding: var(--window-padding);
    position: fixed;

    &:focus-within {
      background-color: var(--window--active-background-color);
      outline: 0;
    }

    &[hidden] {
      display: none;
    }

    &:where(.dragging) {
      cursor: var(--cursor--grabbing);
    }

    &:where(.zoomed) {
      cursor: unset;
      height: calc(
        100dvh - var(--window-padding) - var(--titlebar-height) -
          var(--window-padding)
      );
      transform: translate(0, 0) !important;
      width: calc(100dvw - var(--deskbar-width));

      @media (width <= 600px) {
        width: 100dvw;
      }
    }
  }

  .content {
    cursor: var(--cursor--default);
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .dialog {
    background-color: var(--window-background-color);
    border-width: 0 var(--border-width) var(--border-width);
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
    cursor: var(--cursor--default);
    font-size: 0.875rem;
    left: 0;
    margin: 0 auto;
    max-height: calc(100% - 1.5rem);
    max-width: calc(100% - 3rem);
    overflow: auto;
    top: var(--border-width);
    transform: unset;
    z-index: 1;
  }
}

:root:global(.theme-mac-os-classic) {
  --window-background-color: rgb(221, 221, 221);
  --window-padding: 0.25rem;
  --window--active-background-color: rgb(204, 204, 204);

  .root {
    background-color: var(--window-background-color);
    border-width: var(--border-width);
    padding: var(--window-padding);
    position: fixed;

    &:focus-within {
      background-color: var(--window--active-background-color);
      outline: 0;
    }
  }

  &[hidden] {
    display: none;
  }

  .content {
    cursor: var(--cursor--default);
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}
