:root.theme-mac-os-classic {
  .component-window {
    --component-window-background-color: var(--background-color--inactive);

    background-color: var(--component-window-background-color);
    border-color: var(--border-color--light);
    border-width: var(--border-width);
    box-shadow: var(--box-shadow-elevation--low), var(--box-shadow--high);
    left: 0;
    margin: var(--component-system-bar-height) 0 0;
    padding: calc(
        var(--border-width) + var(--component-window-padding) +
          var(--component-window-header-height) +
          var(--component-window-padding) + var(--border-width)
      )
      0 0;
    position: fixed;
    top: 0;

    &:focus {
      outline: 0;
    }

    &[aria-current="true"] {
      --component-window-background-color: var(--background-color--default);

      border-color: var(--border-color--dark);
      box-shadow: var(--box-shadow-elevation--high), var(--box-shadow--high);
    }

    &[aria-expanded="true"] {
      height: calc(100dvh - var(--component-system-bar-height));
      width: 100dvw;

      &:has(> article[hidden]) {
        height: 0;
      }
    }

    > article {
      border-color: var(--color--lowlight) var(--color--highlight)
        var(--color--highlight) var(--color--lowlight);
      border-width: var(--border-width);
      box-shadow: inset 0 0 0 var(--border-width) var(--border-color--dark);
      height: calc(100% - var(--component-window-padding));
      padding: var(--border-width);
      margin: calc(var(--border-width) * -1) var(--component-window-padding)
        var(--component-window-padding);

      &[aria-hidden="true"] {
        border-bottom-width: 0;
        border-top-width: 0;
        height: 0;
        margin-bottom: 0;
        overflow: hidden;
        padding-bottom: 0;
        padding-top: 0;
      }
    }
  }
}
