:root {
  --window-background-color: rgb(232, 232, 232);
  --window--active-background-color: rgb(224, 224, 224);
  --window-padding: 0.125rem;
  --window_button-background: linear-gradient(
    to bottom right,
    rgb(255, 255, 255),
    rgb(232, 232, 232)
  );
  --window--active_button-background: linear-gradient(
    to bottom right,
    rgb(255, 255, 255),
    rgb(255, 200, 0)
  );
  --window_button-background--active: linear-gradient(
    to top left,
    rgb(255, 255, 255),
    rgb(218, 175, 8)
  );
  --window_button-border-color: rgb(173, 136, 0);
  --window_button-border-radius: 0.125rem;
  --window_header-height: 1.5rem;
  --window_scrollbar-size: 1rem;
}

.root {
  background-color: var(--window-background-color);
  border-width: var(--border-width);
  color: rgb(0, 0, 0);
  cursor: var(--cursor--grab);
  flex-direction: column;
  left: 0;
  margin: var(--window_header-height) 0 0;
  padding: var(--window-padding);
  position: fixed;
  top: 0;
}

.root:not([hidden]) {
  display: flex;
}

.root:active {
  cursor: var(--cursor--grabbing);
}

.root:focus-within {
  background-color: var(--window--active-background-color);
  outline: 0;
}

.zoomed {
  cursor: unset;
  /* these styles need `!important` in order to override the inline styles */
  height: calc(100% - var(--window_header-height)) !important;
  transform: none !important;
  width: calc(100% - var(--deskbar-width)) !important;
}

.zoomed:active {
  cursor: unset;
}

.draggable {
}

.dragging {
}

.dragged {
}

.nondraggable {
}

.header {
  align-items: center;
  background-image: linear-gradient(
    to bottom,
    rgb(248, 248, 248),
    rgb(232, 232, 232)
  );
  border-width: var(--border-width) var(--border-width) 0;
  bottom: 100%;
  display: flex;
  height: var(--window-height);
  left: 0;
  margin: 0 calc(var(--border-width) * -1);
  max-width: calc(100% + (var(--border-width) * 2));
  padding: var(--window-padding);
  position: absolute;
  z-index: 1;
}

.root:focus-within .header {
  background-image: linear-gradient(
    to bottom,
    rgb(255, 237, 172),
    rgb(255, 200, 0)
  );
}

.title {
  flex: 0 1 auto;
  font-size: 1rem;
  margin: 0 1rem;
  order: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
  white-space: nowrap;
}

.button {
  cursor: var(--cursor--default);
  height: calc(var(--window_header-height) - (var(--window-padding) * 2));
  flex: 0 0 calc(var(--window_header-height) - (var(--window-padding) * 2));
  width: calc(var(--window_header-height) - (var(--window-padding) * 2));
}

.close {
  background-image: var(--window_button-background);
  border-color: var(--window_button-border-color);
  border-radius: var(--window_button-border-radius);
  border-width: var(--border-width);
  order: 1;
}

.close:focus {
  outline: 0;
}

.root:focus-within .close {
  background-image: var(--window--active_button-background);
}

.root .close:active {
  background-image: var(--window_button-background--active);
}

.zoom {
  order: 3;
  position: relative;
}

.zoom::before,
.zoom::after {
  background-image: var(--window_button-background);
  border-color: var(--window_button-border-color);
  border-radius: var(--window_button-border-radius);
  border-width: var(--border-width);
  content: "";
  display: block;
  position: absolute;
}

.root:focus-within .zoom::before,
.root:focus-within .zoom::after {
  background-image: var(--window--active_button-background);
}

.zoom::before {
  height: calc(
    (var(--window_header-height) - (var(--window-padding) * 2)) / 1.8
  );
  left: 0;
  top: 0;
  width: calc(
    (var(--window_header-height) - (var(--window-padding) * 2)) / 1.8
  );
  z-index: 2;
}

.zoom::after {
  bottom: 0;
  height: calc(
    (var(--window_header-height) - (var(--window-padding) * 2)) / 1.4
  );
  right: 0;
  width: calc(
    (var(--window_header-height) - (var(--window-padding) * 2)) / 1.4
  );
  z-index: 1;
}

.root .zoom:active::before,
.root .zoom:active::after {
  background-image: var(--window_button-background--active);
}

.zoom:focus {
  outline: 0;
}

.nav {
  background-image: linear-gradient(
    to bottom,
    rgb(227, 227, 227),
    rgb(209, 209, 209)
  );
  border-width: var(--border-width) var(--border-width) 0;
  cursor: var(--cursor--default);
}

.menubar {
  display: inline-flex;
}

.content {
  background-color: rgb(255, 255, 255);
  border-width: var(--border-width);
  box-sizing: content-box;
  cursor: var(--cursor--default);
  flex-grow: 1;
  overflow: scroll;
}

.scrollbar::-webkit-scrollbar {
  appearance: none;
  background-color: rgb(239, 239, 239);
  height: var(--window_scrollbar-size);
  width: var(--window_scrollbar-size);
}

.scrollbar::-webkit-scrollbar-button {
  display: none;
}

/*
.scrollbar::-webkit-scrollbar-button {
  border-color: var(--border-color);
  border-style: solid;
  display: block;
  height: var(--window_scrollbar-size);
  width: var(--window_scrollbar-size);
}

.scrollbar::-webkit-scrollbar-button:horizontal {
  background-image: linear-gradient(
    to bottom,
    rgb(240, 240, 240),
    rgb(200, 200, 200)
  );
}

.scrollbar::-webkit-scrollbar-button:horizontal:start {
  border-width: var(--border-width) var(--border-width) 0 0;
}

.scrollbar::-webkit-scrollbar-button:horizontal:end {
  border-width: var(--border-width) 0 0 var(--border-width);
}

.scrollbar::-webkit-scrollbar-button:vertical {
  background-image: linear-gradient(
    to right,
    rgb(240, 240, 240),
    rgb(200, 200, 200)
  );
}

.scrollbar::-webkit-scrollbar-button:vertical:start {
  border-width: 0 0 var(--border-width) var(--border-width);
}

.scrollbar::-webkit-scrollbar-button:vertical:end {
  border-width: var(--border-width) 0 0 var(--border-width);
}
*/

.scrollbar::-webkit-scrollbar-thumb {
  border-color: var(--border-color);
  border-style: solid;
}

.scrollbar::-webkit-scrollbar-thumb:horizontal {
  background-image: linear-gradient(
    to bottom,
    rgb(240, 240, 240),
    rgb(200, 200, 200)
  );
  border-width: var(--border-width) var(--border-width) 0 var(--border-width);
}

.scrollbar::-webkit-scrollbar-thumb:vertical {
  background-image: linear-gradient(
    to right,
    rgb(240, 240, 240),
    rgb(200, 200, 200)
  );
  border-width: var(--border-width) 0 var(--border-width) var(--border-width);
}

.scrollbar::-webkit-scrollbar-track {
  border-color: var(--border-color);
  border-style: solid;
}

.scrollbar::-webkit-scrollbar-track:horizontal {
  border-width: var(--border-width) 0 0 0;
}

.scrollbar::-webkit-scrollbar-track:vertical {
  border-width: 0 0 0 var(--border-width);
}

.resizeHandle {
  background-color: var(--window-background-color);
  border-color: var(--border-color) var(--window-background-color)
    var(--window-background-color) var(--border-color);
  border-width: var(--border-width);
  bottom: var(--window-padding);
  color: rgba(0, 0, 0, 0.2);
  height: calc(var(--window_scrollbar-size) + var(--border-width));
  position: absolute;
  right: var(--window-padding);
  width: calc(var(--window_scrollbar-size) + var(--border-width));
  z-index: 3;
}

.fixedSize .resizeHandle,
.zoomed .resizeHandle {
  color: transparent;
  pointer-events: none;
}
