:root:global(.theme-mac-os-classic) {
  .root {
  }
}

/*
.root {
  background-color: var(--window-background-color);
  border-width: var(--border-width);
  box-shadow: inset var(--border-width) var(--border-width)
      var(--color--highlight),
    inset calc(var(--border-width) * -1) calc(var(--border-width) * -1)
      var(--color--lowlight);
  color: rgb(0, 0, 0);
  cursor: var(--cursor--grab);
  display: flex;
  flex-direction: column;
  margin: calc(
      var(--window-padding) + var(--titlebar-height) + var(--window-padding)
    )
    0 0;
  padding: var(--window-padding);
  position: fixed;

  &[aria-current="true"] {
    background-color: var(--window-background-color--active);
    outline: 0;
  }

  &:where(.zoomed) {
    cursor: unset;
    height: calc(
      100dvh - var(--window-padding) - var(--titlebar-height) -
        var(--window-padding)
    );
    transform: translate(0, 0) !important;
    width: 100dvw;
  }
}

.content {
  box-shadow: inset var(--border-width) var(--border-width)
      var(--color--lowlight),
    inset calc(var(--border-width) * -1) calc(var(--border-width) * -1)
      var(--color--highlight);
  cursor: var(--cursor--default);
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  padding: var(--window-padding);

  &[hidden] {
    height: 0;
  }
}

:root:global(.theme-beos) {
  --window-background-color: rgb(232, 232, 232);
  --window-background-color--active: rgb(224, 224, 224);
  --window-padding: 0.125rem;

  .dialog {
    background-color: var(--window-background-color);
    border-width: 0 var(--border-width) var(--border-width);
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
    cursor: var(--cursor--default);
    font-size: 0.875rem;
    left: 0;
    margin: 0 auto;
    max-height: calc(100% - 1.5rem);
    max-width: calc(100% - 3rem);
    overflow: auto;
    top: var(--border-width);
    transform: unset;
    z-index: 1;
  }
}

:root:global(.theme-mac-os-classic) {
  --window-background-color: rgb(221, 221, 221);
  --window-background-color--active: rgb(204, 204, 204);
  --window-padding: 0.25rem;

  .root {
    background-color: var(--window-background-color);
    border-width: var(--border-width);
    box-shadow: 0.125rem 0.125rem 0.0625rem var(--color--lowlight);
    display: flex;
    flex-direction: column;
    padding: calc(var(--titlebar-height) + var(--window-padding) * 2)
      var(--window-padding) var(--window-padding);
    position: fixed;

    &[aria-current="true"] {
      background-color: var(--window-background-color--active);
      outline: 0;
    }

    &::before {
      border-color: rgb(255, 255, 255) rgb(128, 128, 128) rgb(128, 128, 128)
        rgb(255, 255, 255);
      border-width: var(--border-width);
      content: "";
      inset: 0;
      position: absolute;
      z-index: -1;
    }

    &[hidden] {
      display: none;
    }

    &:where(.collapsed) {
      padding: calc(var(--titlebar-height) + var(--window-padding))
        var(--window-padding) var(--window-padding);
    }

    &:where(.zoomed) {
      cursor: unset;
      height: calc(100dvh - var(--menubar-height));
      transform: translate(0, var(--menubar-height)) !important;
      width: 100dvw;
    }
  }

  .content {
    cursor: var(--cursor--default);
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    height: 100%;
    overflow: hidden;

    &[hidden] {
      height: 0;
    }
  }
}
*/
