:root {
  --font-family--charcoal: "Charcoal";
  --font-family--digital-dismay: "DigitalDismay";
  --font-family--courier-10-pitch: "Courier10Pitch";
  --font-family--mine-sweeper: "MineSweeper";
  --font-family--monospace: ui-monospace, Menlo, Monaco, "Cascadia Mono",
    "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace",
    "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  --font-family--sans: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(0, 0, 0);
}

:root.theme-beos {
  --background-color--dark: rgb(184, 184, 184);
  --background-color--default: rgb(222, 222, 222);
  --background-color--inactive: rgb(232, 232, 232);
  --border-color--dark: rgb(96, 96, 96);
  --border-color--light: rgb(153, 153, 153);
  --border-width: 0.0625rem;
  --box-shadow--high: inset var(--border-width) var(--border-width)
      var(--color--highlight),
    inset calc(var(--border-width) * -1) calc(var(--border-width) * -1)
      var(--color--lowlight);
  --box-shadow--low: inset var(--border-width) var(--border-width)
      var(--color--lowlight),
    inset calc(var(--border-width) * -1) calc(var(--border-width) * -1)
      var(--color--highlight);
  --color--highlight: rgba(255, 255, 255, 0.6);
  --color--lowlight: rgba(0, 0, 0, 0.2);
  --color--selection: rgb(0, 0, 0);
  --cursor--default: url("/public/themes/beos/cursors/Default.svg"), default;
  --cursor--pointer: url("/public/themes/beos/cursors/Pointer.svg"), pointer;
  --cursor--text: url("/public/themes/beos/cursors/Text.svg") 2 8, text;
  --font-family--default: Helvetica;
  --font-family--monospace: var(--font-family--courier-10-pitch);
  --scrollbar-size: 1rem;
  --text-color--dark: rgb(0, 0, 0);
  --text-color--default: var(--text-color--light);
  --text-color--disabled: rgb(160, 160, 160);
  --text-color--light: rgb(255, 255, 255);
}

:root.theme-mac-os-classic {
  --background-color--default: rgb(204, 204, 204);
  --background-color--inactive: rgb(220, 220, 220);
  --border-color: rgb(38, 38, 38);
  --border-radius: 0.75rem;
  --border-width: 0.0625rem;
  --box-shadow--high: inset var(--border-width) var(--border-width)
      var(--color--highlight),
    inset calc(var(--border-width) * -1) calc(var(--border-width) * -1)
      var(--color--lowlight);
  --box-shadow--low: inset var(--border-width) var(--border-width)
      var(--color--lowlight),
    inset calc(var(--border-width) * -1) calc(var(--border-width) * -1)
      var(--color--highlight);
  --color--highlight: rgba(255, 255, 255, 0.6);
  --color--lowlight: rgba(0, 0, 0, 0.4);
  --color--selection: rgb(204, 204, 253);
  --cursor--default: default;
  --cursor--pointer: pointer;
  --cursor--text: text;
  --font-family--default: var(--font-family--charcoal);
  --scrollbar-size: 1rem;
  --text-color--dark: rgb(0, 0, 0);
  --text-color--default: var(--text-color--dark);
  --text-color--disabled: rgb(160, 160, 160);
  --text-color--light: rgb(255, 255, 255);
}

body {
  color: var(--text-color--default);
  cursor: var(--cursor--default);
  font-family: var(--font-family--default);
  inset: 0;
  margin: 0;
  position: fixed;
}

*,
*::before,
*::after {
  border-color: var(--border-color--dark);
  border-style: solid;
  border-width: 0;
  box-sizing: border-box;
}

*::selection {
  background-color: var(--color--selection);
  color: var(--text-color--default);
}

::backdrop {
}

:link {
  cursor: var(--cursor--pointer);
}

button {
  appearance: none;
  background: none;
  border-width: 0;
  color: inherit;
  cursor: inherit;
  font: inherit;
  margin: 0;
  padding: 0;
  user-select: none;
}

code,
pre {
  font-family: var(--font-family--monospace);
}

label {
  cursor: inherit;
}

[hidden] {
  display: none;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
