:root.theme-mac-os-classic {
  border-radius: var(--border-radius);
  contain: paint;

  body {
    align-items: start;
    background: var(--component-desktop-background);
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, 6rem);
    justify-items: center;
    margin: var(--component-system-bar-height) 0 0;
    padding: 1rem;

    > mark {
      background: transparent;
      border-color: var(--border-color--light);
      border-style: dotted;
      border-width: var(--border-width);
      content: "";
      position: fixed;

      &::after {
        border-color: inherit;
        border-style: inherit;
        border-width: inherit;
        content: "";
        inset: 0;
        position: absolute;
      }
    }
  }
}
