:root[data-theme-id="beos"] {
  --desktop-background: rgb(51, 102, 152);
}

:root[data-theme-id="mac-os-classic"] {
  --desktop-background: url(/src/images/mac-os-classic.png);
}

.root {
  align-items: start;
  background: var(--desktop-background, rgb(48, 48, 48));
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, 6rem);
  inset: 0;
  justify-items: center;
  padding: 1rem;
  position: fixed;

  :root[data-theme-id="beos"] & {
    padding-right: calc(var(--deskbar-width) + 1rem);

    &::after {
      background: rgba(128, 187, 255, 0.2);
      border-color: rgba(0, 0, 204, 0.5);
      border-width: var(--border-width);
      content: "";
      display: var(--desktop-selection-display, "none");
      height: var(--desktop-selection-height);
      left: var(--desktop-selection-left);
      position: absolute;
      top: var(--desktop-selection-top);
      width: var(--desktop-selection-width);
    }
  }

  :root[data-theme-id="mac-os-classic"] & {
    border-radius: var(--border-radius);
    padding-top: calc(var(--menubar-height) + 1rem);

    &::before,
    &::after {
      border-color: rgba(0, 0, 0, 0.5);
      border-style: dotted;
      border-width: var(--border-width);
      content: "";
      display: var(--desktop-selection-display);
      position: absolute;
    }
    &::before {
      height: var(--desktop-selection-height);
      left: var(--desktop-selection-left);
      top: var(--desktop-selection-top);
      width: var(--desktop-selection-width);
    }
    &::after {
      height: calc(var(--desktop-selection-height) + (var(--border-width) * 2));
      left: calc(var(--desktop-selection-left) - var(--border-width, 0));
      top: calc(var(--desktop-selection-top) - var(--border-width, 0));
      width: calc(var(--desktop-selection-width) + (var(--border-width) * 2));
    }
  }
}
