:root.theme-beos {
  body {
    align-items: start;
    background: var(--component-desktop-background);
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, 6rem);
    justify-items: center;
    padding: 1rem calc(var(--component-system-bar-width) + 1rem) 1rem 1rem;

    > mark {
      background: transparent;
      border-color: var(--border-color--light);
      border-style: dotted;
      border-width: var(--border-width);
      content: "";
      position: fixed;
    }
  }
}
